<div class="container">
  <footer class="py-3 my-4">
    <ul class="nav justify-content-center border-bottom pb-3 mb-3">
      <li class="nav-item"><a  target="_blank" href="https://gratia-shopping.onrender.com/" class="nav-link px-2 text-muted">Home</a></li>
      <li class="nav-item"><a  target="_blank" href="https://gratia-shopping.onrender.com/" class="nav-link px-2 text-muted">Products</a></li>
      
      <li class="nav-item"><a target="_blank" href="https://gratia-shopping.onrender.com/" class="nav-link px-2 text-muted">Cartegory</a></li>
      <li class="nav-item"><a  target="_blank" href="https://gratia-shopping.onrender.com/" class="nav-link px-2 text-muted">About</a></li>
    </ul>
    <p class="text-center text-muted">&copy; 2022 Gratia, Inc</p>
  </footer>
</div>