<nav class="">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">
      <img src="/static/logo.svg" alt="" width="30" height="24" class="d-inline-block align-text-top">
      Gratia
    </a>
  </div>
</nav>
<div style="height:56px"></div>





<nav class="navbar shadow-sm fixed-top bg-white navbar navbar-expand-lg bg-body-tertiary ">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">Gratia</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link active" aria-current="page" href="/">Home</a>
        <a class="nav-link" href="https://gratia-shopping.westillest.repl.co/register">Join Us Today</a>
        <a class="nav-link" href="https://gratia-shopping.westillest.repl.co/login">Login </a>
        
      </div>
    </div>
  </div>
</nav>