<div class="border-bottom row" style="margin-bottom:16px;padding-bottom:8px;">
  <div class="col-10">
    <h4 style="color:rgb(120,120,120); margin-bottom:4px;">
      {{product['name']}}
    </h4>
    <div>
      <b>Description:</b>{{product['Description']}}
    </div>
    <div>
      <b>Price:</b>{{product['Price']}}
    </div>
    </div>
    <div class="col-2 padding-right:16px;">
      <a href="mailto:calebmtuweta@gmail.com?subject=Requesting%20for%20{{product['name']}}%20product&body=My%20name%3A%20%3Cyour%20name%20here%3E%0D%0AMy%20preference%3A%20%3Cwould%20you%20like%20your%20product%20to%20be%20delivered%20%3F%20or%20would%20you%20like%20to%20pick%20your%20product%20from%20our%20shop%3F%3E%0D%0AMy%20preferred%20pick%20up%20location%3A%20%3Cwhere%20would%20you%20like%20the%20product%20to%20be%20delivered%3F%3E" class="btn btn-outline-primary">Request for item </a>
    </div>
</div>