<DOCTYPE! html>
  <html>
    <head>
      <title>{{product.name}} - Gratia Shopping</title>
      {% include'bootstrap.html' %}
    </head>
    <body>
      
      {% include 'nav.html' %}
      {% include 'banner.html' %}
      <div class="container">
      <h1 class="text-center mt-2 mb-4">Gratia Online shopping </h1>
      <h3 class="mb-2">{{product.name}}</h3>
      <p class="lead mt-0">{{product.description}}</p>
      <h4>Price</h4>
      <p>{{product.price}} Ksh</p>
      </div>
      {% include 'footer.html' %}
    </body>
  </html>